* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    color: #cecece;
    font-size: 30px;
}

body 
section, 
#inputSection, 
.button-list, 
#plainTextSection, 
#keySection, 
#cipherTextSection, 
#advanceSetting, 
#templateCharSection, 
#alphabetSection {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    background: #050505;
}

main {
    width: 100%;
    padding: 1%;
}

h1 {
    font-size: 40px;
    text-align: center;
    margin: 1%;
}

#plainTextSection, 
#keySection, 
#cipherTextSection, 
#advanceSetting, 
#alphabetSection {
    flex-direction: column;
}

#inputSection, .button-list {
    width: 90%;
}

#keySection {
    flex-basis: 40%;
}

#advanceSettingButton {
    width: 90%;
    margin: 5%;
    text-decoration: underline;
    text-align: center;
}

#advanceSetting {
    width: 90%;
    overflow: hidden;
    background: #101010;
    max-height: 0;
    transition: max-height 0.2s;
}

#templateCharSection, 
#alphabetSection {
    width: 90%;
}

#templateCharSection > label, 
#alphabetSection > label {
    flex-basis: 90%;
}

#templateCharSection > input, 
#alphabetSection > input {
    flex-basis: 10%;
}

label {
    font-size: 20px;
}

textarea, input {
    width: 90%;
    margin: 5% 0;
    background-color: #000;
    padding: 1%;
    resize: none;
}

button {
    padding: 1%;
    width: 100%;
}

#encrypt { background: green; }
#decrypt { background: red; }
#plainTextClear { background: black; }
#cipherTextClear { background: black; }

@media (width <= 1100px) {
    #inputSection {
        flex-direction: column;
        justify-content: center;
    }
    #keySection {
        padding: 1%;
    }
}